#{extends 'main.html' /} #{set title:'Registration' /}
<div class = "page_title"> <h2>Login</h2>
    <div class = "heading_helper_text">Still don't have a profile? <a href = "/users/signup">Create one now</a></div>
</div>

<div class = "spacer"></div>
#{form @authenticate()}
<div class = "helpingpeople_form">
    <div class = "form_info">
        <div class = "forgot_password_div"><a class = "forgot_password" href = "#">Forgotten your password?</a></div>
    </div>
    <div class = "form_content">


        #{if flash.error}
        <p class="error">
            &{flash.error}
        </p>
        #{/if}

        <span id="username-field">
            <label for="username">&{'secure.username'} </label>
            <input type="text" name="username" id="username" required="required" value="${flash.username}" maxlength="20" />
        </span>
        <span id="password-field">
            <label for="password">&{'secure.password'}</label>
            <input type="password" name="password" id="password" required="required" maxlength="20" />
        </span>
        <span id="remember-field">
            <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
            <label for="remember">&{'secure.remember'}</label>
        </span>
        <span>
		    <input  id = "signin" type="submit" class="btn btn-large btn-success" value="&{'secure.signin'}" />
	    </span>
    </div>
</div>
#{/form}