
  /* Custom container */
 .container-narrow {
   margin: 0 auto;
   max-width: 940px;
 }
 
 .post_div {
 
	border: 1px solid #FF6600;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	
	padding: 10px 15px 35px 15px;
 }
 
  .post_comment {
 
	border: 1px solid #afafaf;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	
	vertical-align:text-bottom;
	min-height: 100px;
	padding: 15px 20px 0px 20px;
 }
 
 .post_comment_head {
 	font-size: 12px;
 	font-weight: bold;
 	line-height: 13px;
 	text-align:left;
 	color: #000000;
 }
 
 .comment_outer {
 	padding: 30px 0 0 0;
 }
 
.post_list_entry_outer {
 	padding: 30px 0 0 0;
}

.post_list_entry {
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	
	vertical-align:bottom;
	min-height: 100px;
	padding: 15px 15px 0px 15px;
 }
 
 .post_list_entry_violet {
 	border: 2px solid #993399;
 }
 
 .post_list_entry_orange {
 	border: 2px solid #ff6000;
 }
 
  .post_list_entry_head {
 	font-size: 14px;
 	font-weight: bold;
 	line-height: 17px;
 	text-align:left;
 	color: #000000;
 	vertical-align: bottom;
 }
 
  .post_list_entry_image {
 	max-height: 500px;
 	max-width: 215px;
  } 
 
 .post_image {
 	max-height: 500px;
 	max-width: 400px;
  background-color: #FF6600;
  background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF6600), to(#993399));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #993399, #FF6600);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #993399, #FF6600);

  /* IE 10 */
  background: -ms-linear-gradient(top, #993399, #FF6600);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #993399, #FF6600);
 }
 
 .masthead {
 	max-height: 80px;
  /* fallback */
  background-color: #FF6600;
  background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF6600), to(#993399));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #993399, #FF6600);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #993399, #FF6600);

  /* IE 10 */
  background: -ms-linear-gradient(top, #993399, #FF6600);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #993399, #FF6600);
  
  padding: 1% 0;
 }
 
 .mustheadMid {
    padding: 2% 0;
 }
 
 .homeButton {
 	max-height: 80px;
 }
 
 
.headerText {
	margin: 0 0 0;
	line-height: 16px;
	text-align: center;
	font-size: 12px;
	color: #efefef;
}

.verticalLine {
    border-left: 1px solid #ff0000;
}

.sidebar-nav {
	padding: 9px 0;
}

.footer {
	min-height: 60px;

  /* fallback */
  background-color: #6600CC;
  background: url(images/linear_bg_2.png);
  background-repeat: repeat-x;
  

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6600CC), to(#993399));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #993399, #6600CC);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #993399, #6600CC);

  /* IE 10 */
  background: -ms-linear-gradient(top, #993399, #6600CC);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #993399, #6600CC);
  

	border: 1px solid #d4d4d4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:  #efefef;
	
	padding: 20px 0;
}



	.navplain {
	  margin-bottom: 20px;
	  margin-left: 0;
	  list-style: none;
	  color #efefef;
	}
	
	.navplain > li > a {
			color:  #efefef;
		text-decoration: none;
	}

.navplain > li > a:hover,
.navplain > li > a:focus {
	text-decoration: underline;
	color: #efefef;
}

      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: table;
        width: 100%;
      }
      .navbar .nav li {
        display: table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }
 
 .container-narrow > hr {
   margin: 30px 0;
 }

 /* Main marketing message and sign up button */
 .jumbotron {
   margin: 60px 0;
   text-align: center;
 }
 .jumbotron h1 {
   font-size: 72px;
   line-height: 1;
 }
 .jumbotron .btn {
   font-size: 21px;
   padding: 14px 24px;
 }

 /* Supporting marketing content */
 .marketing {
   margin: 60px 0;
 }
 .marketing p + h4 {
   margin-top: 28px;
 }
 
 .orange-text {
	 font-family: 'Comic Sans MS', cursive;
	 color:#FF6600;
}

.violet-text {
	text-decoration: none;
	font-family: 'Comic Sans MS', cursive;
	color:#993399;
}

.lead_special {
	margin-bottom: 20px;
	font-size: 18px;
	font-weight:bold;
	line-height: 20px;
	text-decoration: none;
}

a.violet-text:hover,
a.violet-text:focus {
  color:#993399;
  text-decoration: underline;
}

a.orange-text:hover,
a.orange-text:focus {
  color:#ff6000;
  text-decoration: underline;
}

.spacer {
    height:20px;
}

.heading_helper_text{
    color: #777;
    font-size:13px;
    line-height:10px;
}

.page_title {
    padding-left:40px;
    color: #993399;
}

.helpingpeople_form {
    border:1px solid #777;
    padding:30px 10px 10px 40px;
    border-radius:30px;
    margin-bottom : 60px;
    background-color : #f4eaf4;
}

.helpingpeople_form .form_content span{
    color : #555;
}

.helpingpeople_form .form_content input {
    width : 300px;
}

.signup_info {
    font-size : 12px;
}

.helpingpeople_form #submitButton, .helpingpeople_form #signin{
    position: relative;
    top : 32px;
    width : 85px; /*Default*/
}

.helpingpeople_form .form_content {
    width : 315px;
}
.helpingpeople_form .form_info {
    float : right;
    width : 160px;
    margin-right : 35px;
    color : #993399;
    font-size : 13px;

}

.helpingpeople_form .form_info .forgot_password_div {
    margin-top:100px;
    margin-left:-40px;
}
.helpingpeople_form .form_info .forgot_password {
    text-decoration:underline;
}

.mustheadMid .nav a, .mustheadMid .nav li.active a:hover{
     color : #fff;
}
.mustheadMid .nav a:hover{
     color : #0088CC;
}

.welcome_text {
    font-weight : bold;
    padding:0px 10px 0px 10px;
}

#remember-field input {
    float : left;
}
#remember-field label{
    margin-top: 5px;
    margin-left: 30px;
}

.error {
    color : #f00;
}

.success {
    color : green;
}


label {
    font-family : "Comic Sans MS", cursive;

}

.reference_list_entry_outer {
 	padding: 30px 0 0 0;
}

.reference_list_entry {
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	
	vertical-align:bottom;
	min-height: 100px;
	padding: 15px 15px 0px 15px;
	
	border: 2px solid #ff6000;
 }
 
 .about_div {
 
	border: 1px solid #993399;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	
	padding: 10px 15px 35px 15px;
 }

.searchBox {
    float:left;
    width : 80%;
    margin-right:5px;
    margin-top:5px;
}
 /*
#container { 
	width:950px;
	margin: 0 auto;
}

#header { 
	  background: linear-gradient(#993399, #FF6600);
	  height:50px;
	  padding-right:300px;
	  padding-left:300px;
	  padding-top:25px;
	  padding-bottom:25px;
}

#middle{
	height:500px;
}


#navigation-left { 
	  background-color:#FFFFF;
	  width:150px;
	  height:470px;
	  float:left;
	  padding-right:5px;
	  padding-left:5px;
	  padding-top:20px;
	  padding-bottom:10px;
}

#center-column { 
	  background-color:#FFFFF;
	  width:640px;
	  height:490px;
	  padding-right:5px;
	  padding-left:5px;
	  padding-bottom:10px;
	  float:left;
	  
}

#navigation-top { 
	  background-color:#FFCC00;
	  height:50px;
	  width:630px;
	  padding-right:5px;
	  padding-left:5px;
	  float:left;
	  
}
#content { 
	  background-color:#FFFFF;
	  width:630px;
	  padding-right:5px;
	  padding-left:5px;
	  float:left;
	  	  
}


#ads { 
	  background-color:#FFFFF;
	  width:130px;
	  height:470px;
	  float:left;
	  padding-right:5px;
	  padding-left:5px;
	  padding-top:20px;
	  padding-bottom:10px;
}

#footer { 
	  height:100px;
	  background: linear-gradient(#993399, #6600CC);
	  clear:both;
	  text-align:center;
}

.header-text {
font-family:"Arial Black", Gadget,sans-serif;
		font-size:3pt;
		color:#FFFFFF;
		text-align:center;
}

.orange-text {
	 font-family: 'Comic Sans MS', cursive;
	 color:#FF6600;
}

.violet-text {
	font-family: 'Comic Sans MS', cursive;
	color:#993399;
}
*/
