#{extends 'main.html' /} #{set title:'Registration' /}
<div class = "page_title"> <h2>Sign Up</h2>
<div class = "heading_helper_text">We are very happy to welcome you in our family!</div>
</div>

<div class = "spacer"></div>

#{form @Users.create()}

<div class = "helpingpeople_form">
    #{if flash.error}
    <p class="error">
        &{flash.error}
    </p>
    #{/if}
    <div class = "form_info">
        <div>
        All fields are mandatory, except those marked 'Optional'.
        </div>
        <div class = "spacer"></div>
        <!-- <div>
            Optional field 'Birthday' is marked with a plus (+)
        </div> -->
        <div class = "spacer"></div>
        <div>
        You can add other personal information like your photo, occupation, interests etc. later from your profile page.
        </div>
    </div>

    <div class = "form_content">
    <span>
		<label for="firstName">First Name: </label>
		<input type="text" name="firstName" id="firstName" required="required" placeholder="Your First Name" maxlength="20" />
	</span>

	<span>
		<label for="lastName">Last Name: </label>
		<input type="text" name="lastName" id="lastName" required="required" placeholder="Your Last Name" maxlength="20" />
	</span>

    <span>
		<label for="email">Email: </label>
		<input type="email" name="email" id="email" required="required" placeholder="Your valid email address" maxlength="40" />
	</span>

    <span>
		<label for="username">Username: </label>
		<input type="text" name="username" id="username" required="required" placeholder="Enter desired username" maxlength="20" />
	</span>

    <span>
		<label for="password">Password: </label>
		<input type="password" name="password" id="password" required="required" maxlength="20" />
	</span>

    <span>
		<label for="confirmPassword">Confirm Password: </label>
		<input type="password" name="confirmPassword" id="confirmPassword" required="required" placeholder="Enter password again" maxlength="20" />
	</span>

    <div class = "signup_info">
        By clicking Signup, you agree to our <a href = "#">Terms of Service</a> and that you have read our <a href = "#"> Data privacy policy.</a>

    </div>
	<span>
		<input  id = "submitButton" type="submit" class="btn btn-large btn-success" value="Signup" />
	</span>
    </div>
</div>
#{/}