#{extends 'main.html' /} #{set title:'Profile' /}
<div class = "page_title"> <h2>${user.firstName} ${user.lastName}</h2></div>

#{if flash.error}<p class="error">&{flash.error}</p>#{/if}
#{if flash.success}<p class="success">&{flash.success}</p>#{/if}

<div class = "profile_view">
    <div class = "picture">
        <div>
        #{if user.hasPhoto()}
       <!--  <span>[<a href="changePhoto">Change Picture</a>]</span> -->
        <span>
			<img width="120px" height="120px" src="${user.getPhotoPath()}" />
		</span>
		#{/if}
		
		</div>
    </div>
    
    <div class = "form_content">
    	<div>
    		<span class="name"> </span>
    	</div>
		<div>
    		<span> Email : </span> ${user.email}
    	</div>
		<div>
    		<span> Phone Number : </span> ${user.phone}
    	</div>
		<div>
    		<span> Occupation : </span> ${user.occupation}
    	</div>
    	<div>
    		<span>About myself : </span> 
    		<div> ${user.description} </div>
    	</div>
    </div>
    <br><br>
</div>	
	<div id="references">
	<h3>References: </h3>
    #{if (user.id != loggedInUser.id)}
    <div class="comment_outer">
	<div class="row-fluid">
		<div class="post_comment" style="padding-bottom: 15px">
			<table>
			<tbody> 
			<tr>
			<th align="left" width="70px" >
				<!-- <img alt=''
			src='http://1.gravatar.com/avatar/9c3395243b0d29deb905352827d745e1?s=68&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D68&amp;r=G'  height='50' width='50' /> --> 
			<img width="50" height="50" src="${loggedInUser.getPhotoPath()}" />
			</th>
			<th class="post_comment_head">
			<a href="@{Users.viewUserProfile(loggedInUser.id)}">${loggedInUser.firstName} <br />
			${loggedInUser.lastName} </a><br /><br />
			</th>
			</tr>
			<tr>
			<td></td>
			<td width="84%">
			#{form @References.submitReference(user.id,referenceText), enctype:'multipart/form-data'}
		<textarea style="width:100%;" name="referenceText" id="referenceText" required="required" placeholder="Write your reference here." ></textarea>
			<div style="float:right;"><input type="submit" class="btn btn-success" value="Add Reference" /></div>
			#{/}
			</td>
			</tr>
			</tbody>
			
			</table>
		</div>
	</div>
	</div>
    #{/if}
		#{list items:user.receivedReferences, as:'reference'}
			<div class="reference_list_entry_outer">
				<div class="row-fluid">
					<div class="reference_list_entry">
						<table>
						<tbody>		
							<tr>
								<td align="left" width="50px" >
									<!-- <img alt=''
								src='http://1.gravatar.com/avatar/9c3395243b0d29deb905352827d745e1?s=68&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D68&amp;r=G'  height='33' width='33' /> --> 
								<img width="50" height="50" src="${reference.fromUser.getPhotoPath()}" />
								</td>
								<td class="post_list_entry_head orange-text">
									<a href="@{Users.viewUserProfile(reference.fromUser.id)}" class="post_list_entry_head orange-text">${reference.fromUser.firstName} ${reference.fromUser.lastName}</a><br />
								<div style="color:#8f8f8f; padding-top: 3px">${reference.date.format('dd MMMM yyyy HH:mm')}</div>
								</td>
							</tr>
							<tr>
								<td></td>
							<td>
							<tr>
								<td></td>
								<td>${reference.referenceText}</td>																						
							</tr>
						</tbody>
						</table>							
					</div>
				</div>
			</div>
		#{/list}
	</div>
    <br /><br />
	

