#{extends 'main.html' /} #{set title:'Most Recent Posts' /}


<div class="row-fluid">
<div class="span6">
 <img src="@{'public/images/ican.png'}" />

#{list items:canPosts, as:'can'}
<div class="post_list_entry_outer">
	<div class="row-fluid">
		<div class="post_list_entry post_list_entry_violet">
			<table>
			<tbody> 
			<tr>
			<td align="left" width="50px" >
				<img alt=''
			src='http://1.gravatar.com/avatar/9c3395243b0d29deb905352827d745e1?s=68&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D68&amp;r=G'  height='33' width='33' /> 
			</td>
			<td class="post_list_entry_head violet-text">
			Name Surname <br />
			<div style="color:#8f8f8f; padding-top: 3px">${can.createdDate.format('dd MMMM yyyy HH:mm')}</div>
			</td>
			</tr>
			<tr>
			<td></td>
			<td>
				<div class="row-fluid" style="padding-top:10px;">
				<a href="@{Posts.viewPost(can.id)}" class="lead_special violet-text">${can.title}</a><br/>
				</div>
				#{if can.hasImage() == true} 
					<div class="row-fluid" style="padding-top:10px;">
					<img class="post_entry_image" src="${can.getImagePath()}" />
					</div>
				#{/if} 
				<div class="row-fluid" style="padding-top:10px;">
				#{if can.description.size() > 150} 
				<p>${can.description.substring(0,can.description.indexOf(" ", 150))}...</p>
				#{/if}
				#{if can.description.size() <= 150} 
				<p>${can.description}</p>
				#{/if}
				</div>
			</td>
			</tr>
			</tbody>
			
			</table>
		</div>
	</div>
</div>
#{/list}
</div>

<div class="span6">
<div style="float: right">
 <img src="@{'public/images/ineed.png'}" />

#{list items:needPosts, as:'need'}
<div class="post_list_entry_outer">
	<div class="row-fluid">
		<div class="post_list_entry post_list_entry_orange">
			<table>
			<tbody> 
			<tr>
			<td align="left" width="50px" >
				<img alt=''
			src='http://1.gravatar.com/avatar/9c3395243b0d29deb905352827d745e1?s=68&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D68&amp;r=G'  height='33' width='33' /> 
			</td>
			<td class="post_list_entry_head orange-text">
			Name Surname <br />
			<div style="color:#8f8f8f; padding-top: 3px">${need.createdDate.format('dd MMMM yyyy HH:mm')}</div>
			</td>
			</tr>
			<tr>
			<td></td>
			<td>
				<div class="row-fluid" style="padding-top:10px;">
				<a href="@{Posts.viewPost(need.id)}" class="lead_special orange-text">${need.title}</a><br/>
				</div>
				#{if need.hasImage() == true} 
					<div class="row-fluid" style="padding-top:10px;">
					<img class="post_entry_image" src="${need.getImagePath()}" />
					</div>
				#{/if} 
				<div class="row-fluid" style="padding-top:10px;">
				#{if need.description.size() > 150} 
				<p>${need.description.substring(0,need.description.indexOf(" ", 150))}...</p>
				#{/if}
				#{if need.description.size() <= 150} 
				<p>${need.description}</p>
				#{/if}
				</div>
			</td>
			</tr>
			</tbody>
			
			</table>
		</div>
	</div>
</div>
#{/list}
 
 
</div>
</div>
</div>
 <div id="paddding" style="padding-top: 50px"><br/></div>

