#{extends 'main.html' /} #{set title:'About Us' /}
<div class = "page_title"> <h2>About Us</h2></div>

<div class="about_div" >
    <div class = "row-fluid">
    <br>   	
    <div class="lead_special violet-text" >What is "HelpingPeople"?</div>
    
HelpingPeople is a community of active and open minded people who believe in mutual aid and volunteering.<br><br>

We know that the positive change in our environment starts with us and we are willing to contribute our best to make the world around a better place!
Do you feel that you can do so much more than what you do every day? 
Do you feel that you can give something good to the people around? 
Are you ready to help someone who needs it? <br><br>

Then join us and explore the whole world of opportunities to become a real change in your community!
<br><br><br>
<div class="lead_special violet-text" >How does it work?</div>

Our registered users can post help offers "I can" and help requests "I need". <br><br>

Let's say a local organization "Sunset beach" has posted a help request "We need volunteers to clean our community beach after the storm". 
In the detailed description you can read that this event will take place on Sunday the 2nd of June and that they are looking for people who would have some time to help the organization to remove garbage and fallen trees from the beach. 
<br><br>
If you would like to help, you send the request to join the event. After you participated in the event and helped the organization, you will get it recorded in your profile under My helping history. 
The organizer and other participants can write as well references for you and tell the world what a great thing you've done! 
<br><br>
On the other hand you too can post a help request "I need" and search for people who would, for example, practice some Bulgarian with you.
<br>
	</div>
</div>
<br><br>

	

