<!DOCTYPE html>
 <html>
 <head>
 <title>My title</title>
 <link rel="stylesheet" type="text/css" href="style.css" />
 </head>
 
 <body>
 
<div id="container">
 	
	<div id="header" >
		<span class="header-text">
			<h1>We are the community of active and open minded people<br>
				who believe in mutual aid and volunteering.<br>
				Join us and togher we will make our world a better place,<br>
				help others for free and meet fantastic people!
			</h1>
		</span>
	</div>
	
	<div id="middle" >
	
	   <div id="navigation-left" >
			<span class="orange-text">
			<b>My proflie<br>
			My Helping History<br>
			My referencies<br>
			</b>
			</span>
		</div>
		
	   <div id="center-column"> 
			<div id ="navigation-top">
				 <p style = "text-align: center;"> Top navigation goes here </p>
			</div>
			<div id="content">
				<p style = "text-align: center;"> Content goes here </p>
			</div>
	   </div>
	   
	   <div id="ads">
	   <p style = "text-align: center;"> Adds go here </p>
	   </div>
	   
	</div>
	
	<div id="footer">
		Footer with our links
	</div>
	
</div>
</body>
</html> 