#{extends 'main.html' /} #{set title:'My Profile' /}
<div class = "page_title"> <h2>Change password - My Profile</h2></div>

	#{if flash.error}<p class="error">&{flash.error}</p>#{/if}
    #{if flash.success}<p class="success">&{flash.success}</p>#{/if}
     
#{form @Profile.savePassword()}
<div class = "profile_view">
    <div class = "form_content">
    <span>
		<label for="curpass">Current Password: </label>
		<input type="password" name="curpass" id="curpass" required="required" maxlength="20" />
	</span>

	<span>
		<label for="newpass">New Password: </label>
		<input type="password" name="newpass" id="newpass" required="required" maxlength="20" />
	</span>
	<span>
		<label for="confirmpass">Confirm Password: </label>
		<input type="password" name="confirmpass" id="confirmpass" required="required" maxlength="20" />
	</span>
	
	
    <div>
		<input  id = "submitButton" type="submit" class="btn btn-large btn-success" value="Save" />
	</div>
    </div>
</div>
#{/}