#{extends 'main.html' /} #{set title:'My Profile' /}
<div class = "page_title"> <h2>My Profile</h2></div>

#{if flash.error}<p class="error">&{flash.error}</p>#{/if}
#{if flash.success}<p class="success">&{flash.success}</p>#{/if}

<div class = "profile_view">
    <div class = "picture">
        <div>
        #{if user.hasPhoto()}
        <span>[<a href="changePhoto">Change Picture</a>]</span>
        <span>
			<img width="120px" height="120px" src="${user.getPhotoPath()}" />
		</span>
		#{/if}
		#{else}
		 <span class="editlink">[<a href="changePhoto">Upload Picture</a>]</span>
		#{/else}
		</div>
    </div>
    
    <div class = "form_content">
    	<div>
    		<span class="name"> ${user.firstName} ${user.lastName}</span>
    		<span class="editlink">[<a href="edit">Edit</a>] &nbsp;[<a href="changePassword">Change password</a>]</span>
    	</div>
		<div>
    		<span> Email : </span> ${user.email}
    	</div>
		<div>
    		<span> Phone Number : </span> ${user.phone}
    	</div>
		<div>
    		<span> Occupation : </span> ${user.occupation}
    	</div>
    	<div>
    		<span>About myself : </span> 
    		<div> ${user.description}</div>
    	</div>
    </div>
	
	<div id="references">
	<h3>References: </h3>
		#{list items:user.receivedReferences, as:'reference'}
			<div class="reference_list_entry_outer">
				<div class="row-fluid">
					<div class="reference_list_entry">
						<table>
						<tbody>		
							<tr>
								<td align="left" width="50px" >
									<img alt=''
								src='http://1.gravatar.com/avatar/9c3395243b0d29deb905352827d745e1?s=68&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D68&amp;r=G'  height='33' width='33' /> 
								</td>
								<td class="post_list_entry_head orange-text">
									${reference.fromUser.firstName} ${reference.fromUser.lastName} <br />
								<div style="color:#8f8f8f; padding-top: 3px">${reference.date.format('dd MMMM yyyy HH:mm')}</div>
								</td>
							</tr>
							<tr>
								<td></td>
							<td>
							<tr>													
								<div>
									<span> ${reference.referenceText} </span> 
								</div>	
							</tr>
						</tbody>
						</table>							
					</div>
				</div>
			</div>
		#{/list}
	</div>
	
</div>
